# ignore metadata files
.DS_Store
Thumbs.db

# don't track the compiled CSS
www/assets/css/
www/assets/.sass-cache/
.sass-cache/

# don't track the node modules (use npm install in a clean repo to obtain)
node_modules/

# don't track .lnk files (windows shortcuts) 
*.lnk