/*-------------/
 * _theme-colors.scss
 *------------*/
/* IMPORTANT:
 * Requires the @mixin theme-color;
 * Located in mixins/_theme-color.scss
 * ----------------------------- */
/*-------------/
 * _theme-colors.scss
 *------------*/
/* IMPORTANT:
 * Requires the @mixin theme-color;
 * Located in mixins/_theme-color.scss
 * ----------------------------- */
/* line 9, ../../sass/site-specific/library.scss */
.library_search {
  padding-top: 1.5% !important;
  padding-bottom: 1.5% !important;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.library_search {
  background: #56dea0;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-research .library_search {
  background: #d3e6ea;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-students .library_search {
  background: #fcefed;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-services .library_search {
  background: #df8db7;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-study .library_search {
  background: #e0edde;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-staff .library_search {
  background: #dcf0f6;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-teaching .library_search {
  background: #ef6a6a;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-maori .library_search {
  background: #f0b0b3;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-example .library_search {
  background: #dcf0f6;
}
/* line 26, ../../sass/site-specific/library.scss */
.library_search,
.library_search form {
  margin: 0;
}

/* line 32, ../../sass/site-specific/library.scss */
.search_options__button {
  border: 0;
}

/* line 37, ../../sass/site-specific/library.scss */
.search_options__content {
  display: block;
  padding: 1em;
}

/* line 43, ../../sass/site-specific/library.scss */
.search_options__footer {
  padding: 1em 0 1em;
  border-top: 1px solid #dddddd;
  margin-bottom: 0;
  margin-top: 1em;
}
/* line 50, ../../sass/site-specific/library.scss */
.search_options__footer .button {
  margin: 0;
}
/* line 63, ../../sass/site-specific/library.scss */
.search_options__footer nav li {
  display: inline-block;
  float: left;
}
/* line 70, ../../sass/site-specific/library.scss */
.search_options__footer nav li:first-child a {
  padding-left: 0;
}
/* line 74, ../../sass/site-specific/library.scss */
.search_options__footer nav a {
  padding: 0.5em;
  font-size: 0.92857em;
}
/* line 79, ../../sass/site-specific/library.scss */
.search_options__footer nav a:hover {
  color: #3c3c3c;
}

/* line 87, ../../sass/site-specific/library.scss */
.sub_footer {
  margin-bottom: -2em;
  border-top: 1px solid #dddddd;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.sub_footer {
  background: #6be2ac;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-research .sub_footer {
  background: #e4f0f2;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-students .sub_footer {
  background: white;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-services .sub_footer {
  background: #e5a1c4;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-study .sub_footer {
  background: #eff6ee;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-staff .sub_footer {
  background: #f0f9fb;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-teaching .sub_footer {
  background: #f18181;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-maori .sub_footer {
  background: #f4c5c7;
}
/* line 201, ../../sass/ui-library/_mixin-theme-library.scss */
.theme-example .sub_footer {
  background: #f0f9fb;
}
/* line 102, ../../sass/site-specific/library.scss */
#wrapper .sub_footer .icon {
  width: 45px;
  height: 45px;
}
/* line 106, ../../sass/site-specific/library.scss */
#wrapper .sub_footer .icon.facebook {
  background-position: 0 -78px;
}
/* line 110, ../../sass/site-specific/library.scss */
#wrapper .sub_footer .icon.ask {
  background-image: url(/assets/images/icon-speech-bubble.png);
  background-position: 0 0;
}
/* line 116, ../../sass/site-specific/library.scss */
.sub_footer h3 {
  margin-top: 1.1em;
  margin-bottom: 0.9em;
}

.library_search label[for="library_search_field"] {
	padding-bottom: 0;
	font-weight: normal;
	font-size: 0.78571em;
	text-transform: uppercase;
}

#library_search_field {
width: 100%;
}

#library_search_form { 
	position: relative;
}

.form_input_collection .form_radio {
    margin-left: 1em;
}

.library_search .field_container, .library_search .search_options {
	margin-bottom: 0.5em;
}

.search_options {
	font-size: 0.78571em;
	text-transform: uppercase;
	padding-top: 4px;
	position: absolute;
	top: 0;
	right: 0;
}

@media all and (max-width: 759px) {
	.search_options {
		position: static;
	}
}

.search_options .button {
  margin: 0;
}

.search_options nav li {
  display: inline-block;
  float: left;
}

.search_options nav li:first-child a {
  padding-left: 0;
}

.search_options nav a {
  padding-right: 1em;
  font-weight: 400;
}

.search_options nav a:hover {
  color: #3c3c3c;
}
