ul p, ol p {margin: 0 0 1em;}
.entry .mld-entry-list, .entry .mld-subentry-list {margin:0;}
.nested_gloss {font-family: "Segoe WP", "Nimbus Sans L", Arial, "Helvetica Neue", "Helvetica", sans-serif; font-size: 14px;}
/*.nested_variant {list-style-type:decimal;}*/
.entry .sense,
.entry .nested_variant {
    margin-top: 0; 
}
.entry .sense + .sense {
    margin-top: 1.5em;
}
.entry .nested_variant + .nested_variant {
    margin-top: 0.5em;
}
.icon.document {
    width: 20px;
    height: 22px;
    float:left;
    background: url("/assets/images/icon-document.png") no-repeat 0 0;
    background-size: 100%;
    margin-right: 0.5em;
}
.corpus_link {/*position:absolute;right:0;top:5em;*/color:#333!important;}
.tm_block {position: relative;}
.tm_link { font-style: italic;position:absolute; bottom:0.5em; right:1em;font-size:80%;}
.mld-essay {}
.mld-example {font-style: italic;}
.mld-also {font-style: italic;}

html body #mld-tooltip pre {margin:0;}

.twitter-typeahead {
    width: 100%
}

.tt-dropdown-menu {
    
    background: #fff;
    box-shadow: 0 5px 10px 1px rgba(90, 90, 90, .3);
    font-size: 18px;
    color: #737373;
    left: 2px !important;
    width: 92.5%;

}

.tt-dropdown-menu strong {
    color: #444444;
}

.tt-suggestion {

    padding-left: 5px;
    padding-right: 5px;

}

.tt-suggestion.tt-cursor {
    background-color: rgba(0, 0, 0, 0.1);
}

.mld-source {
    
    background: url('/assets/images/menu-toggle-low.png') no-repeat;
    background-position: right center;
    padding-right: 20px;
    min-height: 16px;
}

.open {

    background: url('/assets/images/menu-toggle-active-low.png') no-repeat;
    background-position: right center;
}

.loading {

    background: url('/assets/images/loader-search.gif') no-repeat;
    padding-right: 24px;
    background-position: right center;
}
    /*--------Setting width wider for larger screen sizes-------*/
    .no_section_menu #page {
        max-width: 100em;

    }

    #page.corpus_width_large {
        padding-left: 1%;
        padding-right: 1%;

    }
    
    .no_sidebar #content.corpus_width_large {
        max-width: 100em;
        padding-top: 1em;
    }

    /*--------Styling the big search in the large width space-------*/
    #page .big_search {
        max-width: 70em;
        margin-right: auto;
        margin-left: auto;
    }
    .search_page #page .big_search_form .big_search_fields {
        width: 80%;
        

    }



    /*---------Button styling----------*/

    .search_results .button {
        display: inline-block;
    }
    
    .corpus_link {
        float: right;
        top: -0.85em;
        position: relative;
    }
 
    
    /*----Table styling------------------*/
    .corpus_results {
        table-layout: fixed;
        width: 100%;
        border: 1px solid #ddd;
        margin: 0;
        padding: 5px;
    }

    .corpus_result:nth-of-type(even) {
        background: #eeeeee;
    }
    
    .corpus_result:hover {
        background-color: lightblue;
        transition: background-color 0.3s 0 ease-in-out;
    }



    .mld_result_link{
        width: 8%;
        white-space: nowrap;         /* force single line */
    }

   .mld-tooltip {
        background-color: palegreen;
   }

    .mld-tooltip td {
        padding: 5px;
   }


    .date {
        width: 8%;
        white-space: nowrap;         /* force single line */
    }

    .entry table td.main_word {
        text-align: center;
        width: auto;
        white-space: nowrap;
    }

    .pre_collocate {                /*for the over flow text*/
        width: 35%;
    }

     .pre_collocate p {                /*for the over flow text*/
        -o-text-overflow:  clip;  /* Opera */
        text-overflow:   ellipsis clip;     /* IE, Safari (WebKit) */
        overflow: hidden;            /* don't show excess chars */
        white-space: nowrap;         /* force single line */
        direction: rtl;
    }

     .post_collocate {
        width: 35%;
    }


    .post_collocate p {                /*for the over flow text*/
        -o-text-overflow: ellipsis;  /* Opera */
        text-overflow: ellipsis;     /* IE, Safari (WebKit) */
        overflow: hidden;            /* don't show excess chars */
        white-space: nowrap;         /* force single line */
    }
#content>.primary {
width: 100%;
}